@font-face {
    font-family: 'Harry P';
    src: url('./HarryP.woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.HarryP{
    font-family: 'Harry P';
    font-weight: normal;
    font-style: normal;
}
*{
    border: none;
    margin: 0;
}
header{
    background-image: url(img/headerAdobe.jpg);
}
.sContainerHeader{
    width: 100%;
    display: flex;
    height: 19vh;
    background-color: #00000080;
    align-items: center;
    border-bottom: 2px solid #783e03;
}
.sLogoIzquierdo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sLogoIzquierdo img{
    width: 34%;
    height: 75%;
}
.sTituloPrincipal{
    width: 60%;
    display: flex;
    justify-content: center;
}
.sTituloPrincipal h1{
    font-size: 7vw;
    color: #d1950e;
    text-shadow: -8px 12px 7px #700f03;
    letter-spacing: 4px;
}
/*--------------CSS Header---------------------*/

.menu-navegacion{
    display: none;
    width: 100%;
    background-color: #0a0401 !important;
    text-align: end;
    padding-top: 15px;
}
input.sBtnPersonajesNav{
    color: #d1950e;
    background-color: transparent;
    padding-right: 2%;
}

/*--------------CSS Nav---------------------*/

.sSize{
    display: flex;
    align-items: center;
}
.sMagosHechizos{
    background-image: url(img/fondoTresDesktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 59.7vh;
    display: block;
    padding-top: 21vh;

}
.sHijoMagosHechizos{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
}
.scontenedoresMain{
    background-color: #00000080;
    border: 1px solid #783e03;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.sMago img{
    width: 13vw;
    height: 30vh;
    padding-bottom: 2vh;
}
.sMago p{
    color: goldenrod;
}
.sHechizos img{
    width: 87%;
    height: 34vh;
}
.sHechizos p{
    color: goldenrod;
}
.mLibrosCasasHechizos{
    width: 100%;
    height: 40vh
}
.mHijoLibroCasasHechizos{
    width: 100%;
    height: 41vh;
    display: flex;
    justify-content: space-around;
}
.mLibros img{
    width: 87%;
    height: 34vh;
}
.mLibros p{
    color: goldenrod;
}
.mHechizos img{
    width: 87%;
    height: 34vh
    }
.mHechizos p{
    color:goldenrod
}
/*------------------css primera parte main--------------*/
.sPersonajes{
    padding: 0 7% 20px 7%;
    display: grid;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: repeat(34,249px);
    gap: 17px 12%;
}
.sBtnPersonajes{
    background: transparent;
    color: coral;
    font-size: 2vW;
}
.sContainerDeHumanos{
    background-color: #000;
}
.sNombres{
    background-color: rgb(46, 27, 2);
    color: darkgoldenrod;
}
.sContenidoTarjeta{
    color: rgb(184, 74, 5);
}
.figureImage img{
    width: 100px;
}
img:hover{
    transform: scale(1.1);
    transition: .2s;
}
/*------------------css personajes--------------*/
.sContainerLibros{
    background-color: #6f0000;
}
.sLibrosMain{
    background-color: #000;
}
.sMainPrincipal{
    display: none;
}
.sLibrosMain,
.sPersonajesMain,
.sHechizosMain,
.sPosionesMain{
    display: none;
}
.sLibrosMainAparecer,
.sPersonajesMainAparecer,
.sHechizosMainAparecer,
.sPosionesMainAparecer{
    display: block;
    background-color:#0a0401;
    width: 100%;
}
.sLibrosMainAparecer{
    
}
.sNavMainAparecer{
    display: block;
    background-color:#0a0401;
    width: 100%;
    height: 6vh;
}
.sSizePersonajes{
    background-color: #0a0401;
    display: grid;
    grid-template-columns: repeat(3 , 23%);
    grid-template-rows: repeat(236,200px);
    gap: 47px 13vw;
    padding: 1% 8% 0 8%;
    color: #d1950e;
    text-align: center;
}
.tarjetasPersonajes{
    background: linear-gradient(359deg, rgba(28,0,0) 0%, rgba(85,39,3,1) 77%);     
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
figure img {
    width: 50%;
}
.grid_No_Humanos{
    grid-template-rows: repeat(39,200px) !important;
}
.grid_Humanos{
    grid-template-rows: repeat(196,200px) !important;
}
.grid_Puros{
    grid-template-rows: repeat(23,200px) !important;
}
.grid_Impuros{
    grid-template-rows: repeat(24,200px) !important;
}
/*------------------css personajes javaScript--------------*/
.sSizeLibros{
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10%;
}
.sContainerLibrosJS{
    background: linear-gradient(1deg, rgb(30,17,11) 0%, rgb(116,54,26) 77%);     
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: burlywood;
    height: 65vh;
    width: 27%;
    margin-bottom: 5%;
    text-align: center;
    padding: 0px 37px;
}
.sContainerLibrosJS p{
    text-align: justify;
}
.sContainerLibrosJS:hover{
    background: linear-gradient(180deg, rgba(17,36,241,1) 0%, rgba(1,0,5,1) 100%);
    transform: scale(1.1);
    box-shadow: -2px 4px 20px 5px #b500e8;
}




/* background: linear-gradient(180deg, rgba(17,36,241,1) 0%, rgba(1,0,5,1) 100%); */

